<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404 Not Found</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="navbar">
            <h1>Welcome to my website!</h1>
            <a href="/">Home</a>
            <a href="/events">Events</a>
            <a href="/projects" class="active">Projects</a>
            <a href="/work">Work Timeline</a>
            <a href="https://github.com/osleaf" target="_blank">Github 🔗</a>
        </div>
        <dix>
            <h1>404</h1>
            <p>The page you’re looking for doesn’t exist.</p>
        </dix>
        <div class="footer">
            <p>© Vertti Laitinen 2025;</p>
            <p>Email: vjj.laitinen@gmail.com | Tg: @OSLeaf</p>
        </div>
    </body>
</html>
