<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>OSLeaf</title>
        <link rel="icon" type="image/x-icon" href="/images/osleaf_icon.jpg" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="navbar">
            <h1>Welcome to my website!</h1>
            <a href="/">Home</a>
            <a href="/events" class="active">Events</a>
            <a href="/projects">Projects</a>
            <a href="/work">Work Timeline</a>
            <a href="https://github.com/OSLeaf" target="_blank">Github 🔗</a>
        </div>
        <div class="container">
            <figure>
                <img class="small_image" src="/images/events/obeliski.png" />
                <figcaption>
                    Teekkarispeksi 2025 Obeliski <br />Logistic responsible
                </figcaption>
            </figure>
            <figure>
                <img
                    class="small_image"
                    src="/images/events/naamion_takana.jpg"
                />
                <figcaption>
                    Teekkarispeksi 2025 Naamion Takana <br />Monitor mixer
                </figcaption>
            </figure>
            <figure>
                <img
                    class="small_image"
                    src="/images/events/junction_2022.png"
                />
                <figcaption>
                    Junction 2022
                    <a href="https://www.hackjunction.com/" target="_blank"
                        >🔗</a
                    ><br />Network crew
                </figcaption>
            </figure>
        </div>
        <div class="footer">
            <p>© Vertti Laitinen 2025;</p>
            <p>Email: vjj.laitinen@gmail.com | Tg: @OSLeaf</p>
        </div>
    </body>
</html>
