<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSLeaf</title>
    <link rel="icon" type="image/x-icon" href="/images/OSLeaf_icon.jpg">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <h1>Welcome to my website!</h1>
        <a href="/" class="active">Home</a>
        <a href="/events">Events</a>
        <a href="/projects">Projects</a>
        <a href="https://github.com/OSLeaf" target="_blank">Github 🔗</a>
    </div>
    <div class="container">
        <div class="sidebar">
            <div class="link_box">
                <h2>My Papers</h2>
                <p><a href="https://inis.iaea.org/records/91hhv-v2r16" target="_blank">Designing a Database for Spent Nuclear Fuel Verification Prior to Geological Disposal</a></p>
                <p><a href="https://drive.google.com/file/d/1XoqcI0wv98bCUFNX5I5veutv-918QQRU/view" target="_blank">Algorithm for rental prices in Helsinki</a></p>
            </div>
            <div class="link_box">
                <h2>Organizations:</h2>
                <div class="container">
                    <div class="bow">
                        <p><a href="https://teekkarispeksi.fi/" target="_blank">Teekkarispeksi ry</a></p>
                        <li>Member of the board</li>
                        <li>Head soundtechician</li>
                        <li>Logistics responsible</li>
                    </div>
                    <div class="bow">
                        <p><a href="https://sahkoinsinoorikilta.fi/in_english" target="_blank">Guild of electrical engineering</a></p>
                        <li>International tutor</li>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_area" style="flex: 2;">
            <h1>Hello!</h2>
            <p>I'm Vertti Laitinen, or more commonly known in the internet as OSLeaf.
               I'm studying computer science in Aalto Yliopisto. </p> 
            <p>As you can probably tell from all of the pictures here I do a lot of volunteer work for Teekkarispeksi ry. It's a student musical where I'm currently the organizations head soundtechician.
               This means that I can be easily found behind the mixing console of various studen parties in Otaniemi. Past two years, I have also worked as internation tutor for the guild of electrical engineering and a course assistant in Data and Algorithms Y</p> 
            <p>If you want to know more I highly recommend cheking the "Events" and "Projects" pages. There you can find more information on the various bigger events that I have been part of organazing and some of my hobby coding projects.
            <p>Source codes for those projects can be found in my github. </p>
            </p>
        </div>
        <img class="profile_image" src="/images/profile_picture.jpg" alt="My_Logo">
    </div>
    <div class="container">
        <figure>
            <video height="400" controls>
                <source src="/images/Obelisk.mp4" type="video/mp4">
            </video>
            <figcaption> Teekkarispeksi 2025 Obeliski </figcaption>
        </figure>
        <figure>
            <img class="small_image" src="/images/soundDesign1.png" alt="My_Logo">
            <figcaption> Teekkarispeksi 2024 Naamion takana Tampere tour </figcaption>
        </figure>
        <figure>
            <img class="small_image" src="/images/CV_kuva.png" alt="My_Logo">
            <figcaption></figcaption>
        </figure>
        <figure>
            <img class="small_image" src="/images/miniatures.jpg" alt="My_Logo">
            <figcaption> 3D printed miniatures for Dnd :) </figcaption>
        </figure>
    </div>
    <div class="footer">
        <p>© Vertti Laitinen 2025;</p>
        <p>Email: vjj.laitinen@gmail.com  |  Tg: @OSLeaf</p>
    </div>
</body>
</html>