<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSLeaf</title>
    <link rel="icon" type="image/x-icon" href="/images/OSLeaf_icon.jpg">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <h1>Welcome to my website!</h1>
        <a href="/">Home</a>
        <a href="/events">Events</a>
        <a href="/projects" class="active">Projects</a>
        <a href="https://github.com/osleaf" target="_blank">Github 🔗</a>
    </div>
    <div class="container">
        <figure>
                <video height="400" controls>
                    <source src="/images/projects/blame_the_game.mp4" type="video/mp4">
                </video>
            <figcaption> Blame the game made for the GMTK gamejam <a href="https://github.com/OSLeaf/Blame_the_game" target="_blank">🔗</a></figcaption>
        </figure>
        <figure>
            <video height="400" controls>
                <source src="/images/projects/chess_bot.mp4" type="video/mp4">
            </video>
            <figcaption> Self trained Convolutional network that *tries* to be good at chess <a href="https://github.com/OSLeaf/Chess_project" target="_blank">🔗</a></figcaption>
        </figure>
        <figure>
            <a href="https://github.com/OSLeaf/LOTM_LLM" target="_blank">
                <img class="small_image" src="/images/projects/llm.png">
            </a>
            <figcaption> LLM trained on data of a large novel "Lord of the Mysteries" <a href="https://github.com/OSLeaf/LOTM_LLM" target="_blank">🔗</a></figcaption>
        </figure>
        <figure>
            <a href="https://github.com/OSLeaf/Helsinki_area_rentprice_estimator" target="_blank">
                <img class="small_image" src="/images/projects/oikotie.png">
            </a>
            <figcaption> Helsinki area rent predictor algorithm <a href="https://github.com/OSLeaf/Helsinki_area_rentprice_estimator" target="_blank">🔗</a></figcaption>
        </figure>
        <figure>
            <a href="https://github.com/OSLeaf/Web_site" target="_blank">
                <img class="small_image" src="/images/projects/website.png">
            </a>
            <figcaption> This website :D <a href="https://github.com/OSLeaf/Web_site" target="_blank">🔗</a></figcaption>
        </figure>
    </div>
    <div class="container">
        <figure>
            <video height="400" controls>
                <source src="/images/projects/violin.mov" type="video/mp4">
            </video>
            <figcaption> Enthuastic violin player with a year worth of training </figcaption>
        </figure>
        <figure>
            <video height="400" controls>
                <source src="/images/projects/blender.mp4" type="video/mp4">
            </video>
            <figcaption> Learning blender is on going project that moves as fast as the DnD campaing I am running. </figcaption>
        </figure>
    </div>
    <div class="footer">
        <p>© Vertti Laitinen 2025;</p>
        <p>Email: vjj.laitinen@gmail.com  |  Tg: @OSLeaf</p>
    </div>
</body>
</html>